local all postgres peer
{% for lab5_user in lab5_users %}
host all {{ lab5_user.name }} 127.0.0.1/32 scram-sha-256
{% endfor %} 

{% for lab5_host in lab5_cluster_hosts %}
{% if lab5_host != lab5_master_ip %}
host replication postgres {{ lab5_host }}/32 trust
{% endif %}
{% endfor %}
